# Unity Klasörleri
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Android & Gradle
.gradle/
build/
app/build/
local.properties
Captures/
*.apk
*.aab

# VS ve İşletim Sistemi Dosyaları
.vs/
.idea/
*.iml
*.csproj
*.unityproj
*.sln
.DS_Store
Thumbs.db